In [ ]:
# SE DEJA AQUI LA URL DONDE SE ENCUENTRAN LOS ARCHIVOS : https://github.com/Data-Engineer-FJ/Prueba_Tecnica_Data_Engineer
pip install pyspark findspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.2)
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Requirement already satisfied: py4j<0.10.9.10,>=0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [3]:
import os
import sys
import sqlite3
import findspark

print("INICIO CONFIGURACIÓN AMBIENTE")

# 1. Configuración de Java (Asegúrate de que esta ruta sea la de TU PC)
# En Windows suele ser algo como: "C:/Program Files/Java/jdk-11"
# Si ya tienes configurado JAVA_HOME en tu sistema, puedes comentar estas líneas.
# os.environ["JAVA_HOME"] = "RUTA_A_TU_JDK"

# 2. Inicializar Spark
findspark.init()

from pyspark.sql import SparkSession

try:
    spark = SparkSession.builder \
        .master("local[*]") \
        .appName("PracticaLocal") \
        .config("spark.ui.port", "4050") \
        .getOrCreate()
    print("SESIÓN DE SPARK: Creada con éxito")
except Exception as e:
    print(f"ERROR EN SPARK: {e}")

# 3. Configuración de SQL (SQLite ya viene en Python, no necesitas instalar nada)
try:
    conn = sqlite3.connect('test.db')
    print("SESIÓN DE SQLITE: Base de datos 'test.db' lista")
    conn.close()
except Exception as e:
    print(f"ERROR EN SQLITE: {e}")

print("--- CONFIGURACION FINALIZADA ---")

INICIO CONFIGURACIÓN AMBIENTE
SESIÓN DE SPARK: Creada con éxito
SESIÓN DE SQLITE: Base de datos 'test.db' lista
--- CONFIGURACION FINALIZADA ---

In [ ]:
import os
os.kill(os.getpid(), 9)

In [1]:
import sqlite3
print(sqlite3.sqlite_version)

3.37.2

In [2]:
## Delete the tables if they already exist

import sqlite3
conn = sqlite3.connect('test.db')
print("Base de datos abierta con exito");

conn.execute('''drop table if exists Partidos;''')
conn.execute("create table Partidos(partido text, fechas text, grupo text, resultado text);")

conn.execute("insert into Partidos values('Qatar vs. Ecuador','21/11/2022','GRUPO A','0,1');")
conn.execute("insert into Partidos values('Senegal vs. Holanda','21/11/2022','GRUPO A','2,5');")
conn.execute("insert into Partidos values('Qatar vs. Senegal','25/11/2021','GRUPO A','0,5');")
conn.execute("insert into Partidos values('Holanda vs. Ecuador','25/11/2021','GRUPO A','3,3');")
conn.execute("insert into Partidos values('Holanda vs. Qatar','29/11/2021','GRUPO A','5,5');")
conn.execute("insert into Partidos values('Ecuador vs. Senegal','29/11/2021','GRUPO A','3,2');")
conn.execute("insert into Partidos values('Inglaterra vs. Irán','21/11/2022','GRUPO B','4,0');")
conn.execute("insert into Partidos values('Estados Unidos vs. Ucrania-Escocia-Gales','21/11/2022','GRUPO B','1,5');")
conn.execute("insert into Partidos values('Inglaterra vs. Estados Unidos','25/11/2021','GRUPO B','4,1');")
conn.execute("insert into Partidos values('Ucrania-Escocia-Gales vs. Iran','25/11/2021','GRUPO B','2,2');")
conn.execute("insert into Partidos values('Ucrania-Escocia-Gales vs. Inglaterra','29/11/2021','GRUPO B','0,1');")
conn.execute("insert into Partidos values('Irán vs. Estados Unidos','29/11/2021','GRUPO B','0,0');")
conn.execute("insert into Partidos values('Argentina vs. Arabia Saudi','22/11/2022','GRUPO C','5,1');")
conn.execute("insert into Partidos values('México vs. Polonia','22/11/2022','GRUPO C','1,5');")
conn.execute("insert into Partidos values('Argentina vs. México','26/11/2021','GRUPO C','3,0');")
conn.execute("insert into Partidos values('Polonia vs. Arabia Saudí','26/11/2021','GRUPO C','1,2');")
conn.execute("insert into Partidos values('Polonia vs. Argentina','30/11/2021','GRUPO C','2,4');")
conn.execute("insert into Partidos values('Arabia Saudí vs. México','30/11/2021','GRUPO C','5,5');")
conn.execute("insert into Partidos values('Francia vs. Peru-Australia-EAU','22/11/2022','GRUPO D','1,1');")
conn.execute("insert into Partidos values('Dinamarca vs. Túnez','22/11/2022','GRUPO D','5,2');")
conn.execute("insert into Partidos values('Francia vs. Dinamarca','26/11/2021','GRUPO D','0,0');")
conn.execute("insert into Partidos values('Túnez vs. Perú-Australia-EAU','26/11/2021','GRUPO D','0,5');")
conn.execute("insert into Partidos values('Túnez vs. Francia','30/11/2021','GRUPO D','4,0');")
conn.execute("insert into Partidos values('Perú-Australia-EAU vs. Dinamarca','30/11/2021','GRUPO D','0,0');")
conn.execute("insert into Partidos values('España vs. Costa Rica-Nueva Zelanda.','23/11/2022','GRUPO E','2,0');")
conn.execute("insert into Partidos values('Alemania vs. Japón','23/11/2022','GRUPO E','5,3');")
conn.execute("insert into Partidos values('España vs. Alemania','27/11/2021','GRUPO E','1,2');")
conn.execute("insert into Partidos values('Japón vs. Costa Rica-Nueva Zelanda','27/11/2021','GRUPO E','2,2');")
conn.execute("insert into Partidos values('Japón vs. Espana','01/12/2021','GRUPO E','2,1');")
conn.execute("insert into Partidos values('Costa Rica-Nueva Zelanda vs. Alemania','01/12/2021','GRUPO E','3,0');")
conn.execute("insert into Partidos values('Portugal vs. Ghana','24/11/2022','GRUPO F','2,1');")
conn.execute("insert into Partidos values('Uruguay vs. Corea del Sur','24/11/2022','GRUPO F','0,2');")
conn.execute("insert into Partidos values('Portugal vs. Uruguay','28/11/2021','GRUPO F','1,1');")
conn.execute("insert into Partidos values('Corea del Sur vs. Ghana','28/11/2021','GRUPO F','3,1');")
conn.execute("insert into Partidos values('Corea del Sur vs. Portugal.','02/12/2021','GRUPO F','4,5');")
conn.execute("insert into Partidos values('Ghana vs. Uruguay.','02/12/2021','GRUPO F','2,3');")

# Localidades y fecha de los partidos de la segunda ronda

conn.execute('''drop table if exists Clasificados;''')
conn.execute("create table Clasificados(partido text, fecha text, hora text, sede text);")

conn.execute("insert into Clasificados values('1º del grupo A vs. 2º del grupo B','03/12/2022','06:00:00 PM','Estadio Khalifa, Rayán');")
conn.execute("insert into Clasificados values('1º del grupo C vs. 2º del grupo D','03/12/2022','10:00:00 PM','Estadio Ahmed bin Ali, Rayán');")
conn.execute("insert into Clasificados values('1º del grupo D vs. 2º del grupo C','04/12/2022','06:00:00 PM','Estadio Al Thumama, Doha');")
conn.execute("insert into Clasificados values('1º del grupo B vs. 2º del grupo A','04/12/2022','10:00:00 PM','Estadio Al Bayt, Jor');")
conn.execute("insert into Clasificados values('1º del grupo E vs. 2º del grupo F','05/12/2022','06:00:00 PM','Estadio Al Janoub, Al Wakrah');")
conn.execute("insert into Clasificados values('1º del grupo G vs. 2º del grupo H','05/12/2022','10:00:00 PM','Estadio 974, Doha');")
conn.execute("insert into Clasificados values('1º del grupo F vs. 2º del grupo E','06/12/2022','06:00:00 PM','Estadio Qatar Foundation, Rayán');")
conn.execute("insert into Clasificados values('1º del grupo H vs. 2º del grupo G','06/12/2022','10:00:00 PM','Estadio Icónico, Lusail');")

# Totales obtenidos de la simulación por equipo

conn.execute('''drop table if exists Resultados_Qatar;''')
conn.execute("create table Resultados_Qatar(equipo text,grupo text, puntos int, gol_diferencia int);")

conn.execute("insert into Resultados_Qatar values('ALEMANIA','GRUPO E','6','0');")
conn.execute("insert into Resultados_Qatar values('ARABIA SAUDI','GRUPO C','4','-3');")
conn.execute("insert into Resultados_Qatar values('ARGENTINA','GRUPO C','9','9');")
conn.execute("insert into Resultados_Qatar values('COREA DEL SUR','GRUPO F','6','3');")
conn.execute("insert into Resultados_Qatar values('COSTA RICA-NUEVA ZELANDA','GRUPO E','4','1');")
conn.execute("insert into Resultados_Qatar values('DINAMARCA','GRUPO D','5','3');")
conn.execute("insert into Resultados_Qatar values('ECUADOR','GRUPO A','7','2');")
conn.execute("insert into Resultados_Qatar values('ESPANA','GRUPO E','3','0');")
conn.execute("insert into Resultados_Qatar values('ESTADOS UNIDOS','GRUPO B','1','-7');")
conn.execute("insert into Resultados_Qatar values('FRANCIA','GRUPO D','2','-4');")
conn.execute("insert into Resultados_Qatar values('GHANA','GRUPO F','0','-4');")
conn.execute("insert into Resultados_Qatar values('HOLANDA','GRUPO A','5','3');")
conn.execute("insert into Resultados_Qatar values('INGLATERRA','GRUPO B','9','8');")
conn.execute("insert into Resultados_Qatar values('IRAN','GRUPO B','2','-4');")
conn.execute("insert into Resultados_Qatar values('JAPON','GRUPO E','4','-1');")
conn.execute("insert into Resultados_Qatar values('MEXICO','GRUPO C','1','-7');")
conn.execute("insert into Resultados_Qatar values('PERU-AUSTRALIA-EAU','GRUPO D','5','5');")
conn.execute("insert into Resultados_Qatar values('POLONIA','GRUPO C','3','1');")
conn.execute("insert into Resultados_Qatar values('PORTUGAL','GRUPO F','7','2');")
conn.execute("insert into Resultados_Qatar values('QATAR','GRUPO A','1','-6');")
conn.execute("insert into Resultados_Qatar values('SENEGAL','GRUPO A','3','1');")
conn.execute("insert into Resultados_Qatar values('TUNEZ','GRUPO D','3','-4');")
conn.execute("insert into Resultados_Qatar values('UCRANIA-ESCOCIA-GALES','GRUPO B','4','3');")
conn.execute("insert into Resultados_Qatar values('URUGUAY','GRUPO F','4','-1');")

conn.commit()
print("Valores insertados con éxito");

Base de datos abierta con exito
Valores insertados con éxito

In [3]:
import sqlite3
conn = sqlite3.connect('test.db')

#### PROGRAME SU RESPUESTA DENTRO DEL CONN.EXECUTE ENTRE LAS COMILLAS

cursor = conn.execute('''
    SELECT
        Equipo,
        grupo AS Grupo,
        SUM(puntos) AS Puntos,
        SUM(dif) AS Gol_Diferencia
    FROM (
        -- Analizamos al equipo cuando es LOCAL
        SELECT
            TRIM(SUBSTR(partido, 1, INSTR(partido, ' vs. ') - 1)) AS Equipo,
            grupo,
            CASE
                WHEN CAST(SUBSTR(resultado, 1, INSTR(resultado, ',') - 1) AS INT) > CAST(SUBSTR(resultado, INSTR(resultado, ',') + 1) AS INT) THEN 3
                WHEN CAST(SUBSTR(resultado, 1, INSTR(resultado, ',') - 1) AS INT) = CAST(SUBSTR(resultado, INSTR(resultado, ',') + 1) AS INT) THEN 1
                ELSE 0
            END AS puntos,
            CAST(SUBSTR(resultado, 1, INSTR(resultado, ',') - 1) AS INT) - CAST(SUBSTR(resultado, INSTR(resultado, ',') + 1) AS INT) AS dif
        FROM Partidos

        UNION ALL

        -- Analizamos al equipo cuando es VISITANTE
        SELECT
            TRIM(SUBSTR(partido, INSTR(partido, ' vs. ') + 5)) AS Equipo,
            grupo,
            CASE
                WHEN CAST(SUBSTR(resultado, INSTR(resultado, ',') + 1) AS INT) > CAST(SUBSTR(resultado, 1, INSTR(resultado, ',') - 1) AS INT) THEN 3
                WHEN CAST(SUBSTR(resultado, INSTR(resultado, ',') + 1) AS INT) = CAST(SUBSTR(resultado, 1, INSTR(resultado, ',') - 1) AS INT) THEN 1
                ELSE 0
            END AS puntos,
            CAST(SUBSTR(resultado, INSTR(resultado, ',') + 1) AS INT) - CAST(SUBSTR(resultado, 1, INSTR(resultado, ',') - 1) AS INT) AS dif
        FROM Partidos
    )
    GROUP BY Equipo, grupo
    ORDER BY Puntos DESC, Gol_Diferencia DESC;
''')

# Imprimimos el resultado con formato de tabla
print(f"{'EQUIPO':<30} | {'GRUPO':<10} | {'PTS':<5} | {'GD'}")
print("-" * 55)
for row in cursor:
    # Quitamos puntos finales que vienen en la data (ej: 'Espana.')
    nombre_limpio = row[0].strip('.')
    print(f"{nombre_limpio:<30} | {row[1]:<10} | {row[2]:^5} | {row[3]:^3}")

conn.close()

EQUIPO                         | GRUPO      | PTS   | GD
-------------------------------------------------------
Argentina                      | GRUPO C    |   9   |  9
Inglaterra                     | GRUPO B    |   9   |  8
Ecuador                        | GRUPO A    |   7   |  2
Corea del Sur                  | GRUPO F    |   6   |  3
Alemania                       | GRUPO E    |   6   |  0
Holanda                        | GRUPO A    |   5   |  3
Dinamarca                      | GRUPO D    |   5   |  3
Perú-Australia-EAU             | GRUPO D    |   4   |  5
Ucrania-Escocia-Gales          | GRUPO B    |   4   |  3
Costa Rica-Nueva Zelanda       | GRUPO E    |   4   |  3
Portugal                       | GRUPO F    |   4   |  1
Arabia Saudí                   | GRUPO C    |   4   |  1
Japón                          | GRUPO E    |   4   | -1
Uruguay                        | GRUPO F    |   3   |  1
Senegal                        | GRUPO A    |   3   |  1
Portugal                       | GRUPO F    |   3   |  1
Polonia                        | GRUPO C    |   3   |  1
España                         | GRUPO E    |   3   |  1
Túnez                          | GRUPO D    |   3   | -4
Francia                        | GRUPO D    |   2   | -4
Peru-Australia-EAU             | GRUPO D    |   1   |  0
Iran                           | GRUPO B    |   1   |  0
Uruguay                        | GRUPO F    |   1   | -2
Irán                           | GRUPO B    |   1   | -4
Qatar                          | GRUPO A    |   1   | -6
México                         | GRUPO C    |   1   | -7
Estados Unidos                 | GRUPO B    |   1   | -7
Espana                         | GRUPO E    |   0   | -1
Costa Rica-Nueva Zelanda       | GRUPO E    |   0   | -2
Ghana                          | GRUPO F    |   0   | -4
Arabia Saudi                   | GRUPO C    |   0   | -4

In [4]:
# Ejercicio # 2
conn = sqlite3.connect('test.db')

#### PROGRAME SU RESPUESTA DENTRO DEL CONN.EXECUTE ENTRE LAS COMILLAS

cursor = conn.execute('''
    WITH Tabla_Posiciones AS (
        SELECT
            Equipo,
            grupo,
            SUM(puntos) AS PTS,
            SUM(dif) AS GD
        FROM (
            SELECT TRIM(SUBSTR(partido, 1, INSTR(partido, ' vs.') - 1)) AS Equipo, grupo,
                   CASE WHEN CAST(SUBSTR(resultado, 1, INSTR(resultado, ',')) AS INT) > CAST(SUBSTR(resultado, INSTR(resultado, ',')+1) AS INT) THEN 3
                        WHEN CAST(SUBSTR(resultado, 1, INSTR(resultado, ',')) AS INT) = CAST(SUBSTR(resultado, INSTR(resultado, ',')+1) AS INT) THEN 1 ELSE 0 END AS puntos,
                   CAST(SUBSTR(resultado, 1, INSTR(resultado, ',')) AS INT) - CAST(SUBSTR(resultado, INSTR(resultado, ',')+1) AS INT) AS dif
            FROM Partidos
            UNION ALL
            SELECT TRIM(SUBSTR(partido, INSTR(partido, 'vs. ') + 4)) AS Equipo, grupo,
                   CASE WHEN CAST(SUBSTR(resultado, INSTR(resultado, ',')+1) AS INT) > CAST(SUBSTR(resultado, 1, INSTR(resultado, ',')) AS INT) THEN 3
                        WHEN CAST(SUBSTR(resultado, INSTR(resultado, ',')+1) AS INT) = CAST(SUBSTR(resultado, 1, INSTR(resultado, ',')) AS INT) THEN 1 ELSE 0 END AS puntos,
                   CAST(SUBSTR(resultado, INSTR(resultado, ',')+1) AS INT) - CAST(SUBSTR(resultado, 1, INSTR(resultado, ',')) AS INT) AS dif
            FROM Partidos
        )
        GROUP BY Equipo, grupo
    ),
    Ranking_Clasificados AS (
        SELECT *,
               RANK() OVER (PARTITION BY grupo ORDER BY PTS DESC, GD DESC) as posicion
        FROM Tabla_Posiciones
    )
    -- Seleccionamos solo los 2 mejores de cada grupo
    SELECT * FROM Ranking_Clasificados WHERE posicion <= 2;
''')

print(f"{'EQUIPO':<25} | {'GRUPO':<10} | {'POS':<4} | {'PTS':<4} | {'GD'}")
print("-" * 55)
for row in cursor:
    print(f"{row[0].replace('.', ''):<25} | {row[1]:<10} | {row[4]:^4} | {row[2]:^4} | {row[3]:^3}")

conn.close()

EQUIPO                    | GRUPO      | POS  | PTS  | GD
-------------------------------------------------------
Ecuador                   | GRUPO A    |  1   |  7   |  2
Holanda                   | GRUPO A    |  2   |  5   |  3
Inglaterra                | GRUPO B    |  1   |  9   |  8
Ucrania-Escocia-Gales     | GRUPO B    |  2   |  4   |  3
Argentina                 | GRUPO C    |  1   |  9   |  9
Arabia Saudí              | GRUPO C    |  2   |  4   |  1
Dinamarca                 | GRUPO D    |  1   |  5   |  3
Perú-Australia-EAU        | GRUPO D    |  2   |  4   |  5
Alemania                  | GRUPO E    |  1   |  6   |  0
Costa Rica-Nueva Zelanda  | GRUPO E    |  2   |  4   |  3
Corea del Sur             | GRUPO F    |  1   |  6   |  3
Portugal                  | GRUPO F    |  2   |  4   |  1

In [5]:
# Ejercicio # 3
conn = sqlite3.connect('test.db')

#### PROGRAME SU RESPUESTA DENTRO DEL CONN.EXECUTE ENTRE LAS COMILLAS

cursor = conn.execute('''
    WITH Posiciones AS (
        SELECT Equipo, grupo,
               RANK() OVER (PARTITION BY grupo ORDER BY SUM(puntos) DESC, SUM(dif) DESC) as rank
        FROM (
            SELECT TRIM(SUBSTR(partido, 1, INSTR(partido, ' vs.') - 1)) AS Equipo, grupo,
                   CASE WHEN CAST(SUBSTR(resultado, 1, INSTR(resultado, ',')) AS INT) > CAST(SUBSTR(resultado, INSTR(resultado, ',')+1) AS INT) THEN 3
                        WHEN CAST(SUBSTR(resultado, 1, INSTR(resultado, ',')) AS INT) = CAST(SUBSTR(resultado, INSTR(resultado, ',')+1) AS INT) THEN 1 ELSE 0 END AS puntos,
                   CAST(SUBSTR(resultado, 1, INSTR(resultado, ',')) AS INT) - CAST(SUBSTR(resultado, INSTR(resultado, ',')+1) AS INT) AS dif
            FROM Partidos
            UNION ALL
            SELECT TRIM(SUBSTR(partido, INSTR(partido, 'vs. ') + 4)) AS Equipo, grupo,
                   CASE WHEN CAST(SUBSTR(resultado, INSTR(resultado, ',')+1) AS INT) > CAST(SUBSTR(resultado, 1, INSTR(resultado, ',')) AS INT) THEN 3
                        WHEN CAST(SUBSTR(resultado, INSTR(resultado, ',')+1) AS INT) = CAST(SUBSTR(resultado, 1, INSTR(resultado, ',')) AS INT) THEN 1 ELSE 0 END AS puntos,
                   CAST(SUBSTR(resultado, INSTR(resultado, ',')+1) AS INT) - CAST(SUBSTR(resultado, 1, INSTR(resultado, ',')) AS INT) AS dif
            FROM Partidos
        )
        GROUP BY Equipo, grupo
    ),
    Equipos_Finales AS (
        -- Creamos una descripción que coincida con la tabla Clasificados
        -- Ej: '1º del grupo A'
        SELECT Equipo, (rank || 'º del ' || LOWER(grupo)) as desc_posicion
        FROM Posiciones
        WHERE rank <= 2
    )
    -- Cruzamos los resultados reales con la tabla de Sedes y Horarios
    SELECT
        c.partido AS Llave_Original,
        e1.Equipo AS Local_Real,
        e2.Equipo AS Visitante_Real,
        c.fecha,
        c.sede
    FROM Clasificados c
    JOIN Equipos_Finales e1 ON c.partido LIKE e1.desc_posicion || '%'
    JOIN Equipos_Finales e2 ON c.partido LIKE '%' || e2.desc_posicion
    ORDER BY c.fecha ASC;
''')

print(f"{'LLAVE':<40} | {'ENCUENTRO REAL':<35} | {'SEDE'}")
print("-" * 100)
for row in cursor:
    llave = row[0]
    encuentro = f"{row[1].replace('.','')} vs {row[2].replace('.','')}"
    sede = row[4]
    print(f"{llave:<40} | {encuentro:<35} | {sede}")

conn.close()

LLAVE                                    | ENCUENTRO REAL                      | SEDE
----------------------------------------------------------------------------------------------------
1º del grupo A vs. 2º del grupo B        | Ecuador vs Ucrania-Escocia-Gales    | Estadio Khalifa, Rayán
1º del grupo C vs. 2º del grupo D        | Argentina vs Perú-Australia-EAU     | Estadio Ahmed bin Ali, Rayán
1º del grupo B vs. 2º del grupo A        | Inglaterra vs Holanda               | Estadio Al Bayt, Jor
1º del grupo D vs. 2º del grupo C        | Dinamarca vs Arabia Saudí           | Estadio Al Thumama, Doha
1º del grupo E vs. 2º del grupo F        | Alemania vs Portugal                | Estadio Al Janoub, Al Wakrah
1º del grupo F vs. 2º del grupo E        | Corea del Sur vs Costa Rica-Nueva Zelanda | Estadio Qatar Foundation, Rayán

In [6]:
import sys
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import col, desc, rank, round, concat, lit
from pyspark.sql import Window

# Inicializar sesión de Spark
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

# Datos entregados
jugador_data = [("1", "Cristiano Ronaldo", "32", "115", "184"),("2", "Ali Daei", "24", "109", "148"),("3", "Mokhtar Dahari", "28", "89", "142"),("4", "Ferenc Puskás", "20", "84", "89"),("5", "Lionel Messi", "5", "81", "158"),("6", "Sunil Chhetri", "21", "80", "125"),("7", "Ali Mabkhout", "13", "79", "104"),("8", "Godfrey Chitalu", "39", "79", "111"),("9", "Hussein Saeed", "23", "78", "137"),("10", "Pelé", "8", "77", "92"),("11", "Sándor Kocsis", "19", "75", "68"),("12", "Kunishige Kamamoto", "26", "75", "76"),("13", "Bashar Abdullah", "27", "75", "134"),("14", "Robert Lewandowski", "31", "74", "128"),("15", "Majed Abdullah", "4", "72", "117"),("16", "Kinnah Phiri", "29", "71", "117"),("17", "Kiatisuk Senamuang", "36", "71", "134"),("18", "Miroslav Klose", "1", "71", "137"),("19", "Piyapong Pue-on", "36", "70", "100"),("20", "Abdul Kadir", "22", "70", "111"),("21", "Stern John", "37", "70", "115"),("22", "Neymar", "8", "70", "116"),("23", "Gerd Müller", "2", "68", "62"),("24", "Romelu Lukaku", "6", "68", "101"),("25", "Carlos Ruiz Gutiérrez", "17", "68", "133"),("26", "Robbie Keane", "25", "68", "146"),("27", "Hossam Hassan", "12", "68", "176"),("28", "Luis Suárez", "38", "67", "130"),("29", "Didier Drogba", "11", "65", "105"),("30", "Jasem Al-Huwaidi", "27", "63", "83"),("31", "Ronaldo Nazario", "8", "62", "98"),("32", "Zlatan Ibrahimović", "35", "62", "120"),("33", "Ahmed Radhi", "23", "62", "121"),("34", "Abdul Ghani Minhat", "16", "61", "71"),("35", "Edin Džeko", "7", "60", "118"),("36", "Imre Schlosser", "19", "59", "68"),("37", "David Villa", "14", "59", "98"),("38", "Cha Bum-Kun", "10", "58", "135"),("39", "Ali Ashfaq", "30", "57", "89"),("40", "Carlos Pavón", "18", "57", "101"),("41", "Clint Dempsey", "15", "57", "141"),("42", "Younis Mahmoud", "23", "57", "148"),("43", "Landon Donovan", "15", "57", "157"),("44", "Samuel Eto'o", "9", "56", "118"),("45", "Romário", "8", "55", "70"),("46", "Kazuyoshi Miura", "26", "55", "89"),("47", "Jan Koller", "33", "55", "91"),("48", "Iswadi Idris", "22", "55", "97"),("49", "Fandi Ahmad", "34", "55", "101"),("50", "Joachim Streich", "3", "55", "102")]

pais_data = [("1", "Alemania"),("2", "Alemania Federal"),("3", "Alemania Oriental"),("4", "Arabia Saudita"),("5", "Argentina"),("6", "Bélgica"),("7", "Bosnia y Herzegovina"),("8", "Brasil"),("9", "Camerún"),("10", "Corea del Sur"),("11", "Costa de Marfil"),("12", "Egipto"),("13", "Emiratos Arabes Unidos"),("14", "España"),("15", "Estados Unidos"),("16", "Federación Malaya/ Malasia"),("17", "Guatemala"),("18", "Honduras"),("19", "Hungría"),("20", "Hungría/ España"),("21", "India"),("22", "Indonesia"),("23", "Irak"),("24", "Irán"),("25", "Irlanda"),("26", "Japón"),("27", "Kuwait"),("28", "Malasia"),("29", "Malawi"),("30", "Maldivas"),("31", "Polonia"),("32", "Portugal"),("33", "República Checa"),("34", "Singapur"),("35", "Suecia"),("36", "Tailandia"),("37", "Trinidad y Tobago"),("38", "Uruguay"),("39", "Zambia")]

####### PROGRAME SU RESPUESTA AQUI ##############

# Respuesta 2.1: Crear dataframes
# ===============================================
# Definimos esquemas para asegurar tipos numéricos
schema_jugador = StructType([
    StructField("ranking_original", StringType(), True),
    StructField("nombre", StringType(), True),
    StructField("codigo_pais", StringType(), True),
    StructField("goles", StringType(), True),
    StructField("partidos", StringType(), True)
])

df_jugadores = spark.createDataFrame(jugador_data, schema_jugador) \
    .withColumn("goles", col("goles").cast(IntegerType())) \
    .withColumn("partidos", col("partidos").cast(IntegerType()))

df_paises = spark.createDataFrame(pais_data, ["id_pais", "nombre_pais"])

# Respuesta 2.2: Consolidar y marca de mejor jugador por país
# ===============================================
df_consolidado = df_jugadores.join(df_paises, df_jugadores.codigo_pais == df_paises.id_pais, "inner")

# Usamos Window Function para rankear por país basándonos en goles
window_pais = Window.partitionBy("nombre_pais").orderBy(desc("goles"))

df_mejor_por_pais = df_consolidado.withColumn("top_jugador_pais",
    rank().over(window_pais))

# Respuesta 2.3: Nuevo ranking basado en promedio de goles por partido (Eficiencia)
# ===============================================
# Indicador diseñado: Goles / Partidos (Promedio de efectividad)
df_nuevo_ranking = df_mejor_por_pais.withColumn("promedio_goles",
    round(col("goles") / col("partidos"), 3))

# Aplicamos el nuevo ranking mundial basado en este indicador
window_global = Window.orderBy(desc("promedio_goles"))
df_final = df_nuevo_ranking.withColumn("nuevo_ranking", rank().over(window_global))

# Respuesta 2.4: Almacenar en JSON
# ===============================================
# Seleccionamos y renombramos columnas para la estructura solicitada
resultado_final = df_final.select(
    col("nuevo_ranking").alias("Ranking"),
    col("nombre").alias("Jugador"),
    col("nombre_pais").alias("País"),
    col("promedio_goles").alias("Promedio")
)

# Guardar en la ruta indicada (coalesce para generar un solo archivo)
resultado_final.coalesce(1).write.mode("overwrite").json("/tmp/Nuevo_Ranking.json")

# Mostrar resultado para validar
resultado_final.orderBy("Ranking").show(10)

#################################################

+-------+------------------+--------------------+--------+
|Ranking|           Jugador|                País|Promedio|
+-------+------------------+--------------------+--------+
|      1|     Sándor Kocsis|             Hungría|   1.103|
|      2|       Gerd Müller|    Alemania Federal|   1.097|
|      3|Kunishige Kamamoto|               Japón|   0.987|
|      4|     Ferenc Puskás|     Hungría/ España|   0.944|
|      5|    Imre Schlosser|             Hungría|   0.868|
|      6|Abdul Ghani Minhat|Federación Malaya...|   0.859|
|      7|              Pelé|              Brasil|   0.837|
|      8|           Romário|              Brasil|   0.786|
|      9|      Ali Mabkhout|Emiratos Arabes U...|    0.76|
|     10|  Jasem Al-Huwaidi|              Kuwait|   0.759|
+-------+------------------+--------------------+--------+
only showing top 10 rows

In [11]:
from typing import cast
import sys
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import explode, col, desc, avg, min, max, rank, asc, round, pow, sqrt
from pyspark.sql import Window
from pyspark.sql.functions import udf

# Configuración de la sesión
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

####### PROGRAME SU RESPUESTA AQUI ##############

path = "CENTROS_EDUCATIVOS_MADRID.json"

try:
    # 5.1 Leer el archivo con multiLine (esto ya funciona por lo que veo)
    df = spark.read.option("multiLine", True).json(path)

    # Aseguramos que las coordenadas sean números para los cálculos
    df = df.withColumn("direccion_coor_x", col("direccion_coor_x").cast("double")) \
           .withColumn("direccion_coor_y", col("direccion_coor_y").cast("double"))

    # 5.2.1 Determinar el promedio por grupo "centro_titularidad"
    window_tit = Window.partitionBy("centro_titularidad")

    df_promedios = df.withColumn("avg_x", avg("direccion_coor_x").over(window_tit)) \
                     .withColumn("avg_y", avg("direccion_coor_y").over(window_tit))

    # 5.2.2 UDF para calcular la distancia euclideana
    def calcular_distancia(x, y, ax, ay):
        if x is None or y is None or ax is None or ay is None: return 0.0
        return float(((x - ax)**2 + (y - ay)**2)**0.5)

    distancia_udf = udf(calcular_distancia, DoubleType())

    df_con_dist = df_promedios.withColumn(
        "distancia_euclideana",
        distancia_udf(col("direccion_coor_x"), col("direccion_coor_y"), col("avg_x"), col("avg_y"))
    )

    # 5.2.3 Identificar el centro con menor distancia por grupo
    # Ordenamos por la nueva columna "distancia_euclideana"
    window_min = Window.partitionBy("centro_titularidad").orderBy(asc("distancia_euclideana"))

    # Filtramos para quedarnos con el más cercano (rank 1)
    # CORRECCIÓN: usamos 'centro_nombre' en lugar de 'nombre_centro'
    resultado = df_con_dist.withColumn("posicion", rank().over(window_min)) \
                           .filter(col("posicion") == 1) \
                           .drop("posicion")

    # Mostrar resultados finales con los nombres de columna correctos
    resultado.select(
        "centro_titularidad",
        "centro_nombre",
        "distancia_euclideana"
    ).show()

except Exception as e:
    print(f"Error detectado: {e}")

#################################################

+--------------------+--------------------+--------------------+
|  centro_titularidad|       centro_nombre|distancia_euclideana|
+--------------------+--------------------+--------------------+
|             PRIVADO|       INSTITUTO VOX|  121.19948487467829|
|  PRIVADO CONCERTADO|            TEIDE II|   448.7129020946017|
|             PÚBLICO|UNIVERSIDAD POLIT...|                 0.0|
|             PÚBLICO|UNIVERSIDAD AUTON...|                 0.0|
|             PÚBLICO|UNIVERSIDAD DE AL...|                 0.0|
|             PÚBLICO|UNIVERSIDAD CARLO...|                 0.0|
|PÚBLICO-TITULARID...|ESCUELA DE FORMAC...|  2318.4563830272937|
+--------------------+--------------------+--------------------+

In [12]:
from typing import cast
import sys
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import explode, col, desc, avg, min, max, rank, asc, round
from pyspark.sql import Window
from math import sqrt
from pyspark.sql.functions import udf

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

####### PROGRAME SU RESPUESTA AQUI ##############

# (Asumiendo que 'resultado' es el DataFrame obtenido en el paso 5.2.3)

# 5.3 Exportar el resultado en tres formatos en la ruta /tmp
ruta_base = "/tmp/resultado_centros"

# 1. Parquet
resultado.write.mode("overwrite").parquet(f"{ruta_base}_parquet")

# 2. JSON
resultado.write.mode("overwrite").json(f"{ruta_base}_json")

# 3. CSV (Separador '|' y con cabecera)
resultado.write.mode("overwrite") \
    .option("header", "true") \
    .option("sep", "|") \
    .csv(f"{ruta_base}_csv")

# 5.4. Qué formato utilizaría para almacenar y procesar grandes volúmenes de datos
# Respuesta: Parquet

# Justificación:
# 1. Parquet vs CSV: CSV es un formato basado en texto y filas, lo que lo hace lento
#    para leer grandes volúmenes porque obliga a Spark a escanear todo el archivo
#    aunque solo necesitemos una columna. Parquet es columnar y permite "column
#    pruning", leyendo solo los datos necesarios.
# 2. Parquet vs JSON: JSON es muy pesado debido a que repite las llaves (metadatos)
#    en cada registro y no es comprimible de forma eficiente para esquemas fijos.
#    Parquet ofrece una compresión superior (Snappy) y preserva el esquema de datos.
# 3. Optimización en Databricks: Parquet está diseñado para el cómputo distribuido,
#    permitiendo saltar bloques de datos innecesarios (predicate pushdown), lo que
#    ahorra tiempo de CPU y costos de almacenamiento.

#################################################